# History files
.Rhistory
.RData

# Example code in package build process
*-Ex.R
my.properties

# R data files from past sessions
.Rdata
.zip
.xlsx
.xls

20*.txt

*.pkl
*.bck
*.old
*.save
*.sh
feed.rss
videos/beautifulsoup
.ipynb_checkpoints
.DS_Store

tweeting-agent/temp.txt
tweeting-agent/tweets.json
tweeting-agent/twitter.htm

blog/ideas.txt
blog/statemap.tab
analytics/latest.csv
basis-temperature-timeseries/heartrate.png

www/bf/gruntfile.js
