# History files
.Rhistory

# Example code in package build process
*-Ex.R
my.properties

# R data files from past sessions
.Rdata
.zip
.xlsx
.xls

20*.txt

*.pkl
*.bck
*.old
*.sh
feed.rss
videos/beautifulsoup
.ipynb_checkpoints
.DS_Store
