@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Londrina+Solid);

html, body {
	background-color: #383b3a;
	color: #fff;
	margin:0;
	padding:0;
	font-size: 100%;
	    font: inherit;
	font-family: "Open Sans", Arial, sans-serif;
}
a {
    color: #ebe726;
    text-decoration: none;
}

a:hover {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}
.menu {
	color: #eee;
}
#left {
	float: left;
	width: 200px;
	padding: 5px;
}
#left2 {
	width: 190px;
}
#right {
	margin-left: 200px;
	padding: 2px;
}
h1 {
    color: #ebe726;
    font-size: 50px;
	line-height: 48px;
    text-align: left;
    font-family: 'Londrina Solid', sans-serif;
}
h2 {
    color: #ebe726;
    font-size: 30px;
	line-height: 28px;
    text-align: left;
    font-family: 'Londrina Solid', sans-serif;
}
#header {

}
#main {

}
#footer {

}

