#guesttweet {
  background-color:#eee;
  width: 300px;
  padding: 5px;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  color: 44AA44
}
p {
  color: 224422
}
#bbody {
  background-color:#ccc;
  width: 600px;
  padding: 10px;
  text-align: left;
  position: relative;
}

#header {
}

#footer {
}
