#guesttweet {
  background-color:#eee;
  width: 300px;
  padding: 5px;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
}

h1 {
  color: 44AA44
}
p {
  color: 224422
}
#bbody {
  padding: 10px;
  text-align: left;
  left: 0;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

#xtrastuff {
  float: left;
}

#inner {
  float: left;
  width: 863px;
}

#cols {
}

#lcol {
  float:left;
}

#menu {
  background-color:#ccc;  
  padding: 10px;
  text-align: left;
  font-family: "Lucida Bright", Georgia, serif;
  font-size: 14pt;
}

#topheader {
}

#main {
}

#menu a {
  text-decoration: none;
}

#header {
  padding: 0px;
}

#footer {
  padding: 10px;
}

#headline {
  font-size: 24pt;
}

#wheretoget {
  display: table;
  margin: 0 auto;
}

#top {
  font-family: "Lucida Bright", Georgia, serif;
  float: left;
  padding: 5px;
  height: 140px;
}

#logo {
  width: 279px;
  border: 1px solid black;
  float: left;
}

#desc {
  float: left;
}

.clear { clear: both;}

#mc_embed_signup{
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  width:279px;
  border: 1px solid black;
  float: left;
}


