<? include("../header.php") ?>

ftp://ftp.cdc.gov/pub/Health_Statistics/NCHS/Datasets/DVS/mortality/mort2012us.zip
ftp://ftp.cdc.gov/pub/Health_Statistics/NCHS/Datasets/DVS/mortality/mort2002us.zip

<div id="bbody">
<h1>
</h1>

<p>
</p>

<h2>Data Aquisition</h2>
http://www.cdc.gov/nchs/data_access/Vitalstatsonline.htm

Linked to from site
http://www.cdc.gov/nchs/data/dvs/Record_Layout_2012.pdf


http://mic.com/articles/104096/there-s-a-suicide-epidemic-in-utah-and-one-neuroscientist-thinks-he-knows-why
claim: utah is highest
claim: altitude has affect
gun use
http://ajp.psychiatryonline.org/doi/abs/10.1176/appi.ajp.2010.10020289
low population
sunlight exposure
mormonism
not going to comment on neurological aspects
check for Perry Renshaw on neurologica

<? include("../footer.php") ?>
