<? include("../header.php") ?>

<div id="bbody">
<h1>2015 Holiday Special</h1>

<p>Today's episode is a reading of Isaac Asimov's 
<a href="http://www.amazon.com/Isaac-Asimov-Complete-Stories-Vol/dp/038541627X/ref=sr_1_5?ie=UTF8&qid=1449253483&sr=8-5&keywords=asimov">The Machine that Won the War</a>.
I can't think of a story that's more appropriate for Data Skeptic.</a>

</div>

<? include("../footer.php") ?>
