<? include("../header.php") ?>

<div id="bbody">
<h1>AdaBoost</h1>

<p>AdaBoost is a canonical example of the class of AnyBoost algorithms that create
ensembles of weak learners.  We discuss how a complex problem like predicting
restaurant failure (which is surely caused by different problems in different
situations) might benefit from this technique.</p>

</div>

<? include("../footer.php") ?>
