<? include("../header.php") ?>

<div id="bbody">
<h1>The CAP Theorem</h1>

<p>Distributed computing cannot guarantee consistence, accuracy, and partition tollerance.  Most system architects need to think
carefully about how they should appropriately balance the needs of their application across these competing objectives.  Linh Da
and Kyle discuss the CAP Theorem using the analogy of a phone tree for alerting people about a school snow day.</p>

</div>

<? include("../footer.php") ?>
