<? include("../header.php") ?>

<div id="bbody">
<h1>Confidence Intervals</h1>

<p>Thanks for checking out this older episode of the podcast.  Early on, I didn't always write show notes, however, I am planning to go back and
write notes for every episode including this one.  In the meantime, feel free to leave comments, questions, and suggestions in the space below.  Thanks!</p>

</div>

<? include("../footer.php") ?>
