<? include("../header.php") ?>

<div id="bbody">
<h1>Conversion Rate Optimization and Multiple Comparisons</h1>

<a href="http://www.ustream.tv/recorded/76610817">Multiple Comparisons at the Crunch Data Conference</a>


</div>

<? include("../footer.php") ?>
