<? include("../header.php") ?>

<div id="bbody">
<h1>Deep Jazz</h1>

<p>
https://soundcloud.com/deepjazz-ai/sets/deepjazz-on-metheny
https://github.com/evancchow/jazzml
</p>

</div>

<? include("../footer.php") ?>
