<html>

<head>
<title>Data Skeptic Podcast [ep002] Advertising Attribution</title>
</head>

<body>

<h1>Advertising Attribution with Nathan Janos</h1>


<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
