<html>

<head>
<title>Data Skeptic Podcast [ep004] Personalized Medicine</title>
</head>

<body>

<h1>Personalized Medicine with Niki Athanasiadou (<a href="https://twitter.com/RodonikiA">@RodonikiA</a>)</h1>

<p>In this episode we discuss the current state of personalized medicine and the advancements in genetics that have made it possible.</p>

<h2>Links to things mentioned during the show</h2>
<p><a href="http://www.genome.gov/">The Human Genome Project</a></p>
<p><a href="http://hapmap.ncbi.nlm.nih.gov/">International HapMap Project</a></p>

</body>
</html>
