<? include("../header.php") ?>

<h1>Advertising Attribution with Nathan Janos</h1>


<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<? include("../footer.php") ?>
