<? include("../header.php") ?>

<div id="bbody">
<h1>Guerilla Skepticism on Wikipedia with Susan Gerbic</h1>

<p>Our guest this week is Susan Gerbic.  Susan is a skeptical activist involved in many activities, the one we focus on most in this episode
is <a href="http://guerrillaskepticismonwikipedia.blogspot.com/">Guerrilla Skepticism on Wikipedia</a>, an organization working to improve
the content and citations of Wikipedia.</p>

<p>During the episode, Kyle recommended Susan's talk a The Amazing Meeting 9 which can be found 
<a href="https://www.youtube.com/watch?v=5FuJT9mp0jw">here</a>.</p>

<p>Some noteworthy topics mentioned during the podcast were 
<a href="http://en.wikipedia.org/wiki/Neil_deGrasse_Tyson">Neil deGrasse Tyson's</a> endorsement of the
<a href="http://www.penny4nasa.org/">Penny for NASA</a> project. As well as the 
<a href="https://www.mywot.com/">Web of Trust</a> and 
<a href="http://rbutr.com/">Rebutr</a> browser plug ins, as well as
how following the 
<a href="http://skepticaction.blogspot.com/">Skeptic Action</a> project on Twitter provides
recommendations of sites to visit and rate as you see fit via these tools.</p>

<p>For her benevolent reference, Susan suggested 
<a href="http://www.theoddsmustbecrazy.com/">The Odds Must Be Crazy<a/>, a fun website that explores
the statistical likelihoods of seemingly unlikely situations.  For all else, Susan and her various
activities can be found via <a href="http://susangerbic.com">SusanGerbic.com</a>.</p>

</div>

<? include("../footer.php") ?>
