<? include("../header.php") ?>

<div id="bbody">
<h1>Mapping Reddit Topics</h1>

<p> My quest this week is noteworthy a.i. researcher
<a href="https://twitter.com/randal_olson">Randy Olson</a> who joins me to share his work creating the
<a href="http://www.randalolson.com/2014/10/27/the-reddit-world-map/">Reddit World Map</a> - a visualization that illuminates clusters
in the reddit community based on user behavior.</p>

<p>Randy's blog post on
<a href="http://www.randalolson.com/2014/10/27/the-reddit-world-map/">created the reddit world map</a> is well complimented by
a more detailed write up titled
<a href="http://arxiv.org/abs/1312.3387">Navigating the massive world of reddit: using backbone networks to map user interests in social media</a>.
Last but not least, an interactive version of the results (which leverages <a href="http://gephi.github.io/">Gephi</a>) can be
found <a href="http://rhiever.github.io/redditviz/clustered/">here</a>.</p>

<p>For a benevolent recommendation, Randy suggetss people check out
<a href="http://stanford.edu/~mwaskom/software/seaborn/">Seaborn</a> - a python library for statistical data visualization.
For a self serving recommendation, Randy recommends listeners visit the
<a href="http://www.reddit.com/r/dataisbeautiful">Data is beautiful</a> subreddit where he's a moderator.</p>


<? include("../footer.php") ?>
