<? include("../header.php") ?>

<div id="bbody">

<h1>The Chi-Squared Test</h1> 

<p>The $\chi^2$ (<a href="http://en.wikipedia.org/wiki/Chi-square_test">Chi-Squared</a>) test 
is a methodology for hypothesis testing.  When one has categorical data,
in the form of frequency counts or observations (e.g. Vegetarian, Pescetarian, and Omnivore),
split into two or more categories (e.g. Male, Female), a question may arrise such as "Are
women more likely than men to be vegetarian?" or put more accurately, "Is any observed difference
in the frequency with which women report being vegetarian differ in a statistically significant way
from the frequency men report that?"</p>

<p> If you'd like to try out the test on your own dataset, you might find it easy
to use this <a href="http://www.quantpsy.org/chisq/chisq.htm">Chi-square test online</a></p>

<p>In the episode, we discuss data take from the 
LA City Data Portal's 
<a href="https://data.lacity.org/A-Safe-City/Crime-Location/ezgi-uzum">Crime and Location</a> dataset,
and summarized into this table:</p>

<!--begin.rcode echo=FALSE
library(xtable)
car   = c(1192, 1170, 1120, 1117, 1260, 1367, 1361)
bike  = c(108, 103, 110, 100, 108, 103, 106)
days  = c("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat")
tbl = xtable(cbind(days, car, bike))
end.rcode-->

<!--begin.rcode echo=FALSE
print(tbl,include.rownames=FALSE,type='html')

end.rcode-->


<p>The code below demonstrates the execution of a Chi-squared test in R.</p>

<!--begin.rcode
df = data.frame(car=car, bike=bike, row.names=days)
eval = chisq.test(df)
eval
eval$p.value
end.rcode-->

<p>With such a high p-value, we must conclude that any variation by day of the week is strictly due to chance.  In other words,
the proportion of car to bikes reported stolen does not vary in a statistically meaningful way on a day to day basis.  But
as Linhda asked during the episode, what if the values were a bit different? Let's try doubling just the weekend data
of bike thefts only.</p>

<!--begin.rcode
df[6:7,"bike"]=df[6:7,"bike"]*2
eval = chisq.test(df)
eval
eval$p.value
end.rcode-->

<p>True to expectation, when we arbitrarily inflate the data for weekends, the test reports a low p-value, telling us
that there is (in this hypothetical case) a meaningful difference in the proportion with respect to day of the week.</p>

<p>Lastly, Kyle suggested that listeners to <a href="http://dataskeptic.com">The Data Skeptic Podcast</a>
might also enjoy the <a href="http://www.partiallyderivative.com/">Partially Derivative Podcast</a>.</p>


 <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <script type="text/javascript">MathJax.Hub.Config({tex2jax: {processEscapes: true,
        processEnvironments: false, inlineMath: [ ['$','$'] ],
        displayMath: [ ['$$','$$'] ] },
        asciimath2jax: {delimiters: [ ['$','$'] ] },
        "HTML-CSS": {minScaleAdjust: 125 } });
    </script>


<? include("../footer.php") ?>
