<? include("../header.php") ?>

<div id="bbody">

<h1>Markov Chain Monte Carlo</h1>

<p>This episode explores how going wine testing could teach us about using markov chain monte carlo (mcmc).</p>

</div>

<? include("../footer.php") ?>
