<? include("../header.php") ?>

<div id="bbody">

<h1>Natural Language Processing</h1>

<p>This episode overviews some of the fundamental concepts of natural language processing including stemming, n-grams, part of speech tagging, and th
bag of words approach.</p>

<? include("../footer.php"); ?>
