<? include("../header.php") ?>

<div id="bbody">

<h1>Cornbread and Overdispersion</h1>

<p>For our 50th episode we enduldge a bit by cooking Linhda's previously mentioned "healthy" cornbread.  This leads to a discussion of the statistical topic of overdispersion in which the variance of some distribution is larger than what one's underlying model will account for.</p>

<img src='/cornbread.jpg' />

<? include("../footer.php") ?>
