<? include("../header.php") ?>

<div id="bbody">

<h1>Data Fest 2015</h1>

<p>This episode contains converage of the 2015 Data Fest hosted at UCLA.  Data Fest is an analysis competition that gives teams of students 48 hours to explore a new dataset and present novel findings.  This year, data from Edmunds.com was provided, and students competed in three categories: best recommendation, best use of external data, and best visualization.</p>

<? include("../footer.php") ?>
