<? include("../header.php") ?>

<div id="bbody">

<h1>Detecting Cheating in Chess</h1> 

<p>With the advent of algorithms capable of beating highly ranked chess players, the temptation to cheat has emerged as a potential threat to the integrity of this
ancient and complex game.  Yet, there are aspects of computer play that are measurably different than human play.  Dr. Kenneth Regan has developed a methodology
for looking at a long series of modes and measuring the likelihood that the moves may have been selected by an algorithm.</p>

<p>The 
<a href="http://dataskeptic.com/trans/ep55_detecting-cheating-in-chess.php">full transcript</a> 
of this episode is well annotated and has a wealth of excellent links to the things discussed.</p>

<p>If you're interested in learning more about Dr. Regan, his homepage (
<a href="http://www.cse.buffalo.edu/~regan/">Kenneth Regan</a>), his page on 
<a href="https://chessprogramming.wikispaces.com/Kenneth+Wingate+Regan">wikispaces</a>,
and the amazon page of books by 
<a href="http://www.amazon.com/Kenneth-W.-Regan/e/B00J3G6JT8/ref=sr_ntt_srch_lnk_1?qid=1432233233&sr=1-1">Kenneth W. Regan</a>
are all great resources.
</p>

<? include("../footer.php") ?>

