<? include("../header.php") ?>

<div id="bbody">
<h1>Genetically Engineered Food and Trends in Herbicide Usage</h1>

<p>The 
<a href="http://www.crediblehulk.org/">Credible Hulk</a> joins me in this episode to discuss a recent 
<a href="http://www.crediblehulk.org/index.php/2015/06/02/about-those-more-caustic-herbicides-that-glyphosate-helped-replace-by-credible-hulk/">blog post he wrote about glyphosate</a> 
and the data about how it's introduction changed the historical usage trends of other herbicides. Links to all the sources and references can be found in the blog post.</p>

<p>In this discussion, we also mention the <a href="https://www.sciencebasedmedicine.org/tag/food-babe/">food babe</a> and
<a href="http://rationalwiki.org/wiki/Last_Thursdayism">Last Thursdayism</a> which may be worth some further reading.
Kyle also mentioned the list of ingredients or 
<a href="https://jameskennedymonash.wordpress.com/2013/12/12/ingredients-of-an-all-natural-banana/">chemical composition of a banana</a>.
</p>

<p>Credible Hulk mentioned the <a href="https://www.facebook.com/MommyPhD">Mommy PhD</a> facebook page.  An interesting article
about Mommy PhD can be found 
<a href="http://www.geneticliteracyproject.org/2015/03/12/scientistsarepeople-mommy-phd-on-proliferation-of-anti-gmo-death-and-rape-threats-against-scientists/">here</a>.
Lastly, if you enjoyed the show, please "Like" the <a href="https://www.facebook.com/therealcrediblehulk">Credible Hulk facebook group</a>.
</p>

</div>

<? include("../footer.php") ?>
