ori<? include("../header.php") ?>

<div id="bbody">
<h1>Bayesian A/B Testing</h1>

<p>Today's guest is 
<a href="http://camdp.com/">Cameron Davidson-Pilon</a>.  Cameron has a masters degree in quantitative 
finance from the University of Waterloo.  Think of it as statistics on stock markets.  For
the last two years he's been the team lead of data science at 
<a href="https://www.shopify.com/">Shopify</a>.  He's the founder of 
<a href="http://dataorigami.net/">dataorigami.net</a> which produces screencasts teaching methods and techniques of applied
data science.  He's also the author of the just released in print book 
<a href="http://www.amazon.com/Bayesian-Methods-Hackers-Probabilistic-Addison-Wesley/dp/0133902838">Bayesian Methods for Hackers: Probabilistic Programming and Bayesian Inference</a>, 
which you can also get in a 
<a href="http://camdavidsonpilon.github.io/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/">digital form</a>.</p>

<p>This episode focuses on the topic of Bayesian A/B Testing which spans just one chapter of the book.
Related to today's discussion is the Data Origami post
<a href="http://dataorigami.net/blogs/napkin-folding/17987495-the-class-imbalance-problem-in-a-b-testing">The class imbalance problem in A/B testing</a>.</p>

<p>Lastly, Data Skeptic will be giving away a copy of the print version of the book to one lucky listener
who has a US based delivery address.  To participate, you'll need to write a review of any site,
book, course, or podcast of your choice on
<a href="http://www.datasciguide.com/">datasciguide.com</a>.  After it goes live, tweet a link to it
with the hashtag 
<a href="https://twitter.com/search?f=tweets&q=%23windsbook&src=typd">#WinDSBook</a> to be given an entry in the contest.
This contest will end November 20th, 2015, at which time I'll draw a single randomized winner and contact them for delivery details
via direct message on Twitter.</p>

</div>

<? include("../footer.php") ?>
