<? include("../header.php") ?>

<div id="bbody">
<h1>Fractional Factorial Design</h1>

<p>A dinner party at Data Skeptic HQ helps teach the uses of fractional factorial design for studying
2-way interactions.</p>

</div>

<? include("../footer.php") ?>

