<? include("../header.php") ?>

<div id="bbody">
<h1>Gini Coefficient</h1>

<p>The Gini Coefficient (as it relates to decision trees) is one approach to determining the optimal decision to introduce
which splits your dataset as part of a decision tree.  To pick the right feature to split on, it considers the frequency
of the values of that feature and how well the values correlate with specific outcomes that you are trying to predict.</p>

</div>

<? include("../footer.php") ?>
