<? include("../header.php") ?>

<div id="bbody">
<h1>Goodhart's Law</h1>

<p>Goodhart's law states that "When a measure becomes a target,
it ceases to be a good measure".  In this mini-episode we discuss
how this affects SEO, call centers, and Scrum.</p>

</div>

<? include("../footer.php") ?>
