<? include("../header.php") ?>

<div id="bbody">
<h1>Random Forest</h1>

<p>Random forest is a popular ensemble learning algorithm which leverages
bagging both for sampling and feature selection.  In this episode we
make an analogy to the process of running a bookstore.</p>

</div>

<? include("../footer.php") ?>
