<? include("../header.php") ?>

<div id="bbody">
<h1>Santa Statistics</h1>

<p>
</p>

time per stop
speed of travel
GDP of toy production
weight of presents
percent of children getting coal
belief decline with age


<? include("../footer.php") ?>
