<? include("../header.php") ?>

<div id="bbody">
<h1>Stealing Machine Learning Models from Cloud APIs</h1>

https://github.com/ftramer/Steal-ML
https://www.usenix.org/conference/usenixsecurity16/technical-sessions/presentation/tramer

</div>

<? include("../footer.php") ?>
