<? include("../header.php") ?>

<div id="bbody">
<h1>The Bootstrap</h1>

<p>The Bootstrap is a method of resampling a dataset to possibly refine it's accuracy and produce useful metrics on the result.  The bootstrap is a useful statistical technique and is leveraged in Bagging (bootstrap aggregation) algorithms such as Random Forest.  We discuss this technique related to polling and surveys.</p>

</div>

<? include("../footer.php") ?>
