<html>

<head>
<title>Title</title>
</head>

<body>

<p>What is it</p>

What is it
Fun history
When how (QQ test)

<!--begin.rcode

end.rcode-->

<p>This post explores the t-test's performance under simulated conditions and discusses what it's limits are.  I'm first going to generate </p>

<!--begin.rcode

pvals= c()
effectMagnitudes = c()
for (n in seq(0, 100000, length=2000)) {
  n = 100
  x1 = rnorm(n)
  x2 = rnorm(n)
  eval = t.test(x1, x2, paired=FALSE)
  pval = eval$p.value
  m1 = eval$estimate[1]
  m2 = eval$estimate[2]
  diff = m1 - m2
  pvals = c(pvals, pval)
  effectMagnitudes = c(effectMagnitudes, diff)
}
plot(sort(pvals))
abline(h=0.05)
vals = as.numeric(pvals < 0.05)
labels = rep("blue", length(vals))
labels[vals] = "red"
o = order(effectMagnitudes)
plot(effectMagnitudes[o], col=labels[o], cex=vals+0.1)

where in N size are the outliers?
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
