@charset "utf-8";
/* CSS Document */

/* xs - extra small devices */
@media screen and (max-width:767px) {
	  #guesttweet {
    background-color:#fff;
  }
  #cols  { display: table; width: 100%; }
  #inner { display: table-header-group; }
  #lcol  { display: none; }
  #headline { display: none; }
  #desc { display: none; }
  #wheretoget { align: center; }
  #logo       { align: center; }

}

/* sm - small devices */
@media screen and (min-width:768px) and (max-width:991px) {
	 #guesttweet {
    background-color:#eee;
  }
  #mc_embed_signup{
    float: left;
  }
  #lcol  { display: none; }
}

/* md - medium devices */
@media screen and (min-width:992px) and (max-width:1199px) {
	  #guesttweet {
    background-color:#fff;
  }
  #mc_embed_signup{
    float: left;
  }
}

/* lg - large devices */
@media screen and (min-width:1200px) {
	
}